<tr>
  <th><%= transaction_counter + 1 %></th>
  <td><%= transaction.sender_account_number %></td>
  <td><%= @beneficiary.bank_account_number %></td>
  <td><%= transaction.amount %></td>
  <td><%= transaction.created_at %></td>
</tr>
